$background-color: darkcyan;

@media screen and (max-width: 600px) {
    .contenedor-flex {
        flex-direction: column;
    }
}
.contenedor-flex {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: $background-color;
}

.elemento {
    padding: 10px 20px;
    background-color: $background-color;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: small;

    &:hover {
        background-color: darkslategrey;
        cursor: pointer;
    }
}

.titulo {
    font-family: Arial, Helvetica, sans-serif
}